@keyframes fadeIn {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        opacity: 0;
    }   
    
   100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }
}

@keyframes fadeInHeader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}