/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
/* #c92a2a; */
/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.icon-heart {
    color: #c92a2a;
}

button a * {
  height: 100%;
}

/* Body */
body {
  font-family: "Righteous", sans-serif;
  overflow-x: hidden;
}

/* Navbar Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  line-height: 50px;
  background-color: white;
}

header * {
  display: inline;
  height: 50px;
  text-decoration: none;
}

header #navbar-title {
  font-size: 3rem;
  color: black;
  margin-left: 35px;
}

header ul {
  padding: 0;
}

header li {
  margin-left: 35px;
  font-size: 1.3rem;
}

header nav a {
  color: #333;
  font-family: "Open sans", sans-serif;
  margin: 35px;
  padding: 15px 25px;
  border-radius: 20px;
}

header nav a.active {
  border-bottom: 2px solid wheat;
  border-radius: 2px;
}

header nav a:hover {
  border-bottom: 2px solid wheat;
}

/* Hero Styles */
section {
  height: 100vh;
  border-bottom: 8px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 5.4125em;
}

.hero h1 {
  color: #333;
  font-size: 6rem;
  line-height: 0;
  animation: fadeInHeader 1s linear 1;
}
 
.hero img {
  width: 1000px;
  border-radius: 10px;
  background-attachment: fixed;
}

#learn-more-nyc {
  background-color: #333;
  padding: 20px 25px;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: .25em;
}

#learn-more-nyc a {
  color: white;
  text-decoration: none;
}

/* About Styles */

#about .section-inner {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 1em;
  justify-items: center;
  align-items: center;
  margin: 20px;
}
/* Titles and buttons */
/* Items & Grid Aligning */

.item {
  width: auto;
  min-width: 650px;
  height: auto;
  min-height: 500px;
  padding: 20px;
  margin: 20px;
  background-color: #333;
}

.it1 {
  background-color: #333;
  background-image: url(/assets/hero-img-min.jpg);
  background-attachment: fixed;
  min-width: 700px;
  min-height: 500px;
  width: auto;
  height: auto;
  background-position: center center;
  grid-row: 1 / 1;
}

.it2 {
  color: #333;
  line-height: 1.5;
  background-color: white;
  width: 100%;
  grid-row: 1 / 1;
  grid-column: 2 / 2;
}

.it2 .it2-title {
  font-size: 2.5rem;
  border: 2px solid #333;
  padding: 10px;
}

.it2 .it2-subtitle {
  text-align: start;
  font-size: 1.2rem;
}

#about button#learn-more-nyc {
  display: flex;
}

/* Gallery Styles */

#gallery {
  height: 100vh;
}

#gallery img {
  width: 250px;
  min-height: 150px;
  margin: 20px;
  background-attachment: fixed;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  border: 10px;
}

#gallery img:hover {
  opacity: 0.5;
  z-index: -9;
}

#gallery .section-inner {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

#gallery .section-inner .item {
  background-color: white;
}

.section-inner .it3 button {
  display: flex;
}


#gallery h1 {
  color: #333;
  font-size: 2.5rem;
  text-align: center;
  border: 2px solid #333;
  padding: 20px;
}

#gallery p {
  color: #333;
  font-size: 1.2rem;
  text-align: start;
  line-height: 1.5;
}

#gallery .it4 {
  background-image: url(assets/brooklyn-secondary-min.jpg);
  background-attachment: fixed;
}

/* BONUS IMAGES */



#bonus-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  min-width: 50vw;
  width: 50vw;
  margin: 0 auto;
  padding: 20px 10px;
  overflow: hidden;
  justify-content: space-around;
}

#bonus-images .flex-item {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  background-color: green;
  display: flex;
  flex-direction: row;
}

#bonus-images::after {
  content: "";
  width: 350px;
}

.ite1 {
  background-image: url(assets/brooklyn-primary-min.jpg);
  background-position: top center;
  background-attachment: fixed;
}

.ite2 {
  background-image: url(assets/staten-island-secondary-min.jpg);
  background-position: top center;
  background-attachment: fixed;
}

.ite3 {
  background-image: url(assets/manhattan-secondary-min.jpg);
  background-position: top center;
  background-attachment: fixed;
}

.ite4 {
  background-image: url(assets/the-bronx-secondary-min.jpg);
  background-position: top center;
  background-attachment: fixed;
}

.ite5 {
  background-image: url(assets/queens-primary-min.jpg);
  background-position: top center;
  background-attachment: fixed;
}

.ite6 {
  background-image: url(assets/hero-img-min.jpg);
  background-position: top center;
  background-attachment: fixed;
}

footer {
  background-color: #333;
  padding: 20px;
  color: white;
  text-align: center;
}

