/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.icon-heart {
    color: #c92a2a;
}

/* Body */
body {
  font-family: "Righteous", sans-serif;
  overflow-x: hidden;
}

/* Navbar Styles */
.navbar {
  padding: 20px;
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  transform: translateX(5%);
}

.navbar h1 {
  display: inline;
  font-size: 4em;
  transform: translateX(50%);
  margin: -35px;
}

.navbar a {
  color: #1a1a1a;
  margin: 3.5em;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 20px;
  font-weight: 400;
  font-family: "Open sans", sans-serif;
}

.navbar a:hover {
  font-weight: 700;
  border-bottom: 2px solid #1a1a1a;
}

/* Hero Styles */
.hero {
  text-align: center;
}

.hero .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  font-size: 4.5em;
  color: #333;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.hero #hero-img {
  display: flex;
  justify-content: center;
  height: 70vh;
}

.hero img {
  margin-bottom: 4em;
  transform: translateY(-10%);
}

/* Main Styles */
#main .title {
  font-size: 2.5em;
  text-align: center;
  font-family: "Open sans", sans-serif;
  color: #333;
  margin: 25px auto 0;
  max-width: 800px;
}

#learn-more {
  background-color: #333;
  text-align: center;
  font-size: 1.6em;
  padding: 15px 25px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 30px 0;
}

#learn-more a {
  text-decoration: none;
  color: white;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

title {
    font-size: 2em;
    width: 100%;
    padding: 20px;
    max-width: 800px;
  }
  
  .title-2 {
    border: 3px solid #333;
    padding: 20px;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  
  .title .subtitle {
      width: 50%;
      font-size: .5em;
      text-align: start;
  }
  
  .container img {
    width: 600px;
    position: relative;
    left: 30%;
    top: 3.5%;
    transform: translateX(-50%);
  }

/* About Styles */ */
#about {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#about h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25vh);
  color: #ffffff;
  font-size: 3rem;
  width: 100%;
}

#about img {
  position: relative;
  z-index: -1;
  top: 100%;
  transform: translateY(10%);
  border-radius: 10%;
  height: 500px;
  overflow: hidden;
}

.notice {
  font-size: 4em;
  text-align: center;
  color: #333;
}

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  font-size: 1.6rem;
  color: white;
  margin: 20px;
}